.content {
    a{
        text-decoration:none;
        color:white;
    }
    section{
        margin-left:0.50%;
        article{
            background-color:rgba(128, 128, 128, 0.58);
            border-radius:5px;
            width:315px;
            overflow:hidden;
            margin:0;
            display:inline-block;
            transition:1s;
            &:hover{
                color:#adadad;
            }
            img{
                width:90px;
                height:110px;
                float:left;
            }
        }
        .wrapper-iframe{
            overflow:hidden;
            position:relative;
            width:864px;
            height:670px;
            padding-left:5%;
            border-radius:10px;
            border:10px outset black;
            iframe{
                position:absolute;
                left:-10px;
                top:-171px;
            }
        }
    }
}
