$border: 1px solid black;
body {
    a{
        color:#5a5a5a;
    }
    p{
        margin:5px;
        width:25%;
        display:inline-block;
    }
    h1{
        width:210px;
        height:60px;
        font-family:'Bookman Old Style';
        background-image:linear-gradient(tomato,#ff0000,#ff6a00);
        transition:1s;
        vertical-align:central;
        &:hover{
            width:500px;
            border-radius:8px;
            font-weight:900;
            background-image:none;
            background-color:tomato;
        }
    }
    .CAUTION{
        background-image:url(../images/images.jpg);
        background-position:center;
        background-size:cover;
        background-repeat:no-repeat;
        width:25%;
        height:200px;
        color:black;
        position:relative;
        span{
            position:absolute;
            bottom:0;
            padding:10px;
        }
    }
    .CAUTION-18{
        width:300px;
        height:220px;
        background-image:url(../images/18_cinema.png);
        opacity:0.8;
        background-position:center;
        background-size:contain;
        background-repeat:no-repeat;
        color:black;
    }
    .navigator-frames{
        width:95%;
    }
    .frame{
       border-radius:10px;
       margin:5px;
       display:inline-block;
       width:260px;
       height:300px;
       background-color:tomato;
       opacity:0.4;

       h2{
           background-color:#eeeeee;
           text-align:left;
           margin:0;
           opacity:2;
       }
    }
}
